body{
    font-family: 'Lato', sans-serif;
}
.jumbotron{
    color: white;
    margin-top: -75px;
    background: #7e21ff;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 736px;
    margin-bottom: -10px
}
.jumbotron.container  {
  position: relative;
}

.jumbotron img {
  margin-top: 50px;
  margin-right: -50px;
}
.jumbotron .content {
  margin-top: 140px;
  margin-left: -50px;
}
.jumbotron .content h1 {
  font-weight:600; 
  font-size: 46pt;
  font-family: prata;
  margin-bottom: 9px;
}
.jumbotron a {
  margin-top: 5px;
  font-weight: 600;
  color: white;
  background-color: #ff7d63;
  border-radius: 10px;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
}
.navbar-text a {
  border-radius: 10px;
}