body {
    background-image: linear-gradient(45deg,#0575E6,#7e21ff);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Lato', sans-serif;
}
.container {
    margin-top: 90px;
    margin-left: 110px;
}

.card-login {
border: 0;
border-radius: 1rem;
box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.6);
overflow: hidden;
width: 1000px;
}

.card-login .card-title {
margin-bottom: 2rem;
font-weight: 400;
font-size: 30px;
}

.card-login .card-img {
width: 45%;
background: scroll center url('https://source.unsplash.com/mAGZNECMcUg/414x512');
background-size: cover;
}

.card-login .card-body {
padding: 2rem;
height: 550px;
}

.form-control {
    border-radius: 5rem;
    height: 50px;
}
.card-body .back-home {
    text-align: center;
    margin-top: 75px;
}